div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black ;
    display: inline-block;
}

#div1{
    position: static;
}

#div2{
    position: relative;
    top: 10px;
    left: 10px;
}

#div3{
    position: absolute;
    top: 10px;
    left: 20px;
}

#div4{
    /* position: sticky; */
    position: fixed;
    right: 10px;
}